HomePage.stproj
tmp/**/*
log/*
vendor/import_btk/log/*
config/database.yml
db/*.sqlite3
*.swp
*~
*.tmp
tags
.DS_Store
.loadpath
.project
todo
doc/app
doc/plugins
doc/api
coverage
nbproject/*
config/development.sphinx.conf
db/sphinx/*
public/pictures
*.sql
*.jar
*.class
